<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Bidly</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>

<header>
    <div class="logo"> <a th:href="@{/}">Bidly</a></div>
    <nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/contact}">Contact</a>
    <a th:href="@{/sell}">Sell</a>
    <a th:href="@{/login}">Login</a>
  </nav>
</header>

<div class="login-card">
  <h2>Login</h2>
  <form th:action="@{/login}" method="post">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>
  <div class="signup">
    <span>New here? </span>
    <a th:href="@{/register}">Create a new account!</a>
  </div>
</div>

<footer>
  © 2025 Bidly. All rights reserved.
</footer>

</body>
</html>